.vscode
build
*.a
*.o
*.dylib
*.dll
*.obj
*.bak
*.zip
*~
/vs_*
*.mexmaci64
Xcode
bin
lib
ThirdParties/Eigen/eigen-3.4.0
ThirdParties/spdlog/spdlog-1.15.3
ThirdParties/autodiff/autodiff
doxygen/docs
.idea
cmake-build-debug
.DS_Store
.ninja_deps
.ninja_log
.build
*.nav
*.snm
.cache
tvd_test_results
line_search_results.csv
